html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /*  --------------- Images -----------------  */

  #spirit-and-opportunity {
    position: relative;
    width: 40%;
    transform: rotate(25deg);
    left: 150%;
    bottom: 100%;
  }

  #sojourner {
    position: relative;
    width: 40%;
    transform: rotate(-25deg);
    left: 75%;
    bottom: 100%;
  }

  #mars-surface-2 {
    position: relative;
    left: 120%;
    width: 75%;
    height: 350px;
    bottom: 60%;
    padding: 5px;
    outline: solid;
  }

  #curiosity-fig {
    position: relative;
    right: 105%;
    bottom: 80%;
  }

  #curiosity-fig figcaption {
    outline: solid;
    border-radius: 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: grey;
    color: white;
    font-size: 24px;
    width: 40%;
  }

  #curiosity-1 {
    width: 55%;
    height: auto;
  }

  #perseverance-fig {
    position: relative;
    right: 65%;
    bottom: 120%;
  }

  #perseverance-fig figcaption {
    outline: solid;
    border-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: grey;
    color: white;
    font-size: 24px;
    width: 40%;
    position: absolute;
    top: -15%;
    left: 15%;
    text-align: right;
    padding-right: 2px;
  }

  #perseverance-1 {
    width: 55%;
    height: auto;
  }

  #drill {
    position: relative;
    width: 70%;
    right: 90%;
    bottom: 100%;
    outline: 5px solid;
    padding: 5px;
  }

  #launch {
    position: relative;
    left: 125%;
    bottom: 100%;
    width: 70%;
    outline: 5px solid;
    padding: 5px;
  }

  #wheel {
    position: relative;
    right: 90%;
    bottom: 110%;
    width: 70%;
    outline-color: black;
    outline-width: 5px;
    outline-style: solid;
    padding: 5px;
  }

  /*  --------------- Top Nav -----------------  */
  .top-nav {
    position: relative;
    top: -16px;
    background: grey;
    height: 75px;
  }

  .top-nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  .top-nav li {
    display: inline;
    font-size: 1.5rem;
    align-content: center;
    outline: solid;
    outline-color: grey;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    background: rgb(236, 235, 235);
  }

  .top-nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  /*  -----------------------------------------  */

  .heading {
    text-align: center;
  }

  .heading p {
    margin: 0 20px;
  }

  .left-text {
    position: relative;
    width: 50%;
    height: 300px;
    margin: 75px 0;
    background: black;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px;
  }

  .left-text:nth-child(n + 3) {
    background: #d84d11d3;
    color: black;
  }

  .right-text {
    position: relative;
    width: 50%;
    height: 300px;
    margin-left: 50%;
    background: #e77d11;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 20px;
  }

  .full-text {
    position: relative;
    top: 75px;
    height: 300px;
    background: #d84d11;
    padding: 20px;
    margin-bottom: 75px;
  }

  h4 {
    text-align: center;
  }

  table {
    display: flex;
    justify-content: left;
    border: 1px solid;
    border-collapse: collapse;
  }

  th {
    width: 1000px;
    text-align: left;
    border: 1px solid;
  }

  tr {
    text-align: right;
  }

  td {
    width: 1000px;
    border: 1px solid;
  }

  footer {
    align-content: center;
    position: relative;
    height: 100px;
    text-align: center;
    background-image: url('../img/mars-surface-1.jpg');
    background-size: 105%;
    background-position: middle;
    line-height: 5px;
  }

  /* FAQ */
  #faq-page main {
    font-size: 18px;
  }

  #faq-page .left-text {
    margin-left: -20px;
    padding-left: 2%;
  }

  #faq-page .left-text:nth-child(2) {
    height: 200px;
  }

  #faq-page .full-text {
    text-align: center;
    height: 150px;
  }

  .faq {
    height: 200px;
    bottom: 275px;
  }

  .faq:nth-child(4) {
    bottom: 300px;
    background: #e77d11;
  }

  .faq:nth-child(5) {
    bottom: 575px;
    background: black;
    color: white;
  }

  .faq:nth-child(6) {
    bottom: 600px;
    background: black;
    color: white;
  }

  .faq:nth-child(7) {
    bottom: 875px;
  }

  .faq:nth-child(8) {
    bottom: 900px;
    background: #e77d11;
  }

  .faq:nth-child(9) {
    bottom: 1175px;
    margin-bottom: -75%;
    background: black;
    color: white;
  }

  /* Contact */
  #contact-page .full-text {
    margin: -60px 40px 100px 40px;
    border-radius: 25px;
    height: 1000px;
    background: lightgray;
  }

  /* Mission History */

  #mission-history-page .heading {
    margin-bottom: 5%;
  }

  #mission-history-page .right-text {
    background: #d84d11d3;
  }

  #mission-history-page .left-text {
    background: #e77d11;
  }

  #mission-history-page .right-text:nth-child(4) {
    background: black;
    color: white;
  }

  #mission-history-page td {
    text-align: left;
  }

  /*@media screen and (max-width: 440px) {

    .left-text {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 300px;
      margin: 75px 0;
      background: black;
      color: white;
      padding: 20px;
    }

    .left-text img {
      display: flex;
    }

    #spirit-and-opportunity {
      width: 40%;
      transform: rotate(25deg);
    }

    #sojourner {
      width: 40%;
      transform: rotate(-25deg);
      left: 115%;
      top: 20%;
    }

    .right-text {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 300px;
      background: #e77d11;
      padding: 20px;
    }

    .right-text img {
      display: flex;
    }

    .full-text {
      position: relative;
      top: 75px;
      height: 300px;
      background: #d84d11;
      margin: 0 -20px;
      padding: 20px;
      margin-bottom: 75px;
    }

    footer {
      align-content: center;
      position: relative;
      margin: 0 -20px;
      text-align: center;
      background-image: url('../img/mars-surface-1.jpg');
      background-size: 105%;
      background-position: middle;
    }
  }*/