html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .images-right img {
    position: relative;
  }

  
  #spirit-and-opportunity {
    position: absolute;
    bottom: 275px;
    left: 72%;
    width: 20%;
    height: auto;
    transform: rotate(25deg);
  }

  #sojourner {
    position: absolute;
    bottom: 260px;
    left: 53%;
    width: 20%;
    height: auto;
    transform: rotate(-25deg);
  }

  body {
    margin: 0 20px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .heading {
    text-align: center;
  }

  .heading nav {
    margin: -20px -20px;
    background: grey;
    height: 50px;
  }

  .heading ul {
    display: flex;
    justify-content: space-evenly
  }

  .heading li {
    display: inline;
    margin-top: 17px;
    font-weight: bold;
    font-size: 20px;
  }

  .heading li a {
    text-decoration: none;
    color: white;
  }

  header {
    margin-top: 50px;
  }

  .heading p {
    margin-bottom: 50px;
  }

  .left {
    display: flex;
    flex-direction: column;
    color: white;
    background: black;
    margin: 0 -20px;
    width: 50%;
    height: 300px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px;
  }

  .right {
    display: flex;
    flex-direction: column;
    background: #e77d11;
    margin: 0 20px;
    width: 50%;
    height: 300px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 20px;
    position: relative;
    top: 50px;
    left: 50%;
  }

  footer {
    position: relative;
    bottom: -30px;
    margin: 0 -20px;
    background-image: url('img/mars-surface-1.jpg');
    background-size: 105%;
    background-position: middle;
    text-align: center;
  }

  @media screen and (max-width:100px) {
  
    .left {
      right: 300px;
    }
  }