html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0 20px;
    font-family: 'Lucida Console';
  }

  .heading {
    text-align: center;
  }

  .heading nav {
    margin: -20px -20px;

    background: grey;
    height: 50px;
  }

  .heading ul {
    display: flex;
    justify-content: space-evenly
  }

  .heading li {
    display: inline;
    margin-top: 17px;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

  header {
    margin-top: 50px;
  }

  .left {
    display: flex;
    flex-direction: column;
  }

  .left p {
    width: 50%;
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    left: 50%;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -20px;
    background-image: url('img/mars-surface-1.jpg');
    background-size: 105%;
    background-position: middle;
    text-align: center;
  }